
.flashcard-container {
    margin-bottom: 20px;
}

.navigation-buttons {
    display: flex;
    gap: 20px; 
}

.navigation-buttons button {
    background: linear-gradient(45deg, #007BFF, #00BFFF);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px; 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    align-items: center; 
    margin: 20px auto;
}

.navigation-buttons button:hover {
    background: linear-gradient(45deg, #0056b3, #0099cc); 
    transform: scale(1.05); 
}

.navigation-buttons button:disabled {
    background: #4169E1; 
    cursor: not-allowed;
    box-shadow: none; 
}
